html,body{
    background-color: white; 
    width: 100%;
    height: 100%;
}
/*------------navbar------------*/
.navbar{
  padding:0px;
}
.streep{
  height: 2px;
  width: 80%;
  margin-left: 10%;
  background-color: #17a2b8;
}
.btn{
  border: 0px;
}
.nav-item{
  border:0px;
}
.navbar-toggler{
  background-color: #17a2b8;
}

.container-fluid{
  padding:10px;
  background-color: white; 
  border: 0px;
  border-bottom: 1px #17a2b8 solid;
}
.nav-link{
  color: black;
}
.nav-link:hover{
    color: grey;
}

.navbar-brand{
  font-size: 25px;
  color: black;
}
.navbar-brand:hover{
color: black;
}

/*------------section--------------*/

section{
    width: 100%;
    height: 100%;
    color: black;
}
.section1{
  width: 100%;
  height: 150%;
  color: black;
}
.section2{
  width: 100%;
  height: 100%;
  color: black;
}
.section3{
  width: 100%;
  height: 80%;
  color: black;
}
.section4{
  width: 100%;
  height: 350%;
  color: black;
}
.section5{
  width: 100%;
  height: 126%;
  color: black;
}
.section6{
  width: 100%;
  height: 200%;
  color: black;
}
.section7{
  width: 100%;
  height: 70%;
  color: black;
}
.section8{
  width: 100%;
  height: 125%;
  color: black;
}
.section9{
  width: 100%;
  height: 125%;
  color: black;
}
.section10{
  width: 100%;
  height: 125%;
  color: black;
}
.section11{
  width: 100%;
  height: 125%;
  color: black;
}
.sectionVlog{
  width: 100%;
  height: 225%;
  color: black;
}
.vlog{
  margin-left: 30%;
}
.table{
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
}
.user{
  margin-top: 5%;
  margin-left: 27%;
}
.burn{
  margin-top: 4%;
  margin-left: 29%;
  border-radius: 8px;
  width: 40%;
  height: 50%;
}
.streep{
 width: 80%;
 height: 1px;
 border-bottom: #17a2b8 solid 1px;
}
h1{
  font-size:80px;
}
.kaart{
  margin-top: 1%;
  margin-left: 32%;
}
.card-header{
  font-size:25px;
}
.kaart1{
  margin-top: 4%;
  margin-left:25%;
  float:left;
}
.kaart2{
  margin-top: 2%;
  margin-left:2%;
  float:left;
}
.kaart3{
  clear:both;
  margin-top: 4%;
  margin-left:25%;
  float:left;
}
.kaart4{
  margin-top: 4%;
  margin-left:25%;
}
.vriend1{
  margin-top: 4%;
  margin-left: 2%;
  float:left;
  max-width: 25rem;
  border-radius: 8px;
}
.voetbal{
  clear:both;
  margin-top: 4%;
  margin-left: 25%;
  float:left;
  max-width: 25rem;
  border-radius: 8px;
}
.content{
  padding:2em;
}

.card-text{
  font-size: 22px;
}
.inlicht{
  width: 35%;
  margin-left: 33%;
  margin-top: 2%;
}
.cv{
  width: 35%;
  margin-left: 33%;
  margin-top: 2%;
}
.mot{
  width: 35%;
  margin-left: 33%;
  margin-top: 2%;
}



/*------------Footer------------*/

.footer-basic {
  clear: both;
  height: 165px;
  position: relative;
  border: 0px;
  padding:20px 0;
  background-color: #17a2b8;
  color:black;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
    color: grey;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid black;
    margin:0 8px;
    color:black;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
    color: grey;
    border:1px solid grey;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:black;
    margin-bottom:0;
  }
